<div class="card">
  <p-table  [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="header">
          <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Category</th>
              <th>Quantity</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
          <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>
                  <div>
                      4
                  </div>
              </td>
          </tr>
      </ng-template>
  </p-table>
</div>